@model MVCDemo.Models.MemberState
@using MVCDemo.Models
@{
    Layout = "~/Views/Shared/_LayoutMember.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th>會員編號</th>
            <th>會員帳號</th>
            <th>會員暱稱</th>
            <th>會員等級</th>
            <th>會員電話</th>
            <th>會員信箱</th>
            <th></th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <th>@Model.Id</th>
            <th>@Model.UserId </ th >
            <th>@Model.nickName </ th >
            <th>@Model.CardLevel </ th >
            <th>@Model.phoneNumber </ th >
            <th>@Model.eMail </ th >
            <th>
                @Html.ActionLink("編輯", "EditMemberState", new { id = Model.Id })
            <th>
        </tr>
    </tbody>
</table>
